body {
    margin: 0;
    padding: 0;
    font-family: 'Hedvig Serif', serif;
    background-color: #f5f5f5;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

header {
    background-color: #C71585;
    text-align: center;
    padding: 20px;
    border-radius: 8px 8px 0 0;
}

h1 {
    margin: 0;
    font-size: 36px;
}

.message {
    margin-top: 20px;
    line-height: 1.6;
    color: #333;
}

.message p:first-child {
    margin-top: 0;
}

.message p:last-child {
    margin-bottom: 0;
}

/* cumpleaños.css */

.container {
    max-width: 600px; /* Ajusta según sea necesario */
    margin: 0 auto; /* Centra el contenido */
}

.message img {
    width: 50%; /* Limita el ancho de la imagen al 50% del contenedor */
    height: auto; /* Mantiene la proporción original de la imagen */
}

.message {
    text-align: center; /* Centra el texto */
    margin-top: 20px; /* Ajusta según sea necesario */
}


.message img {
    width: 50%;
    height: auto;
    border: 4px solid #C71585; /* Añade un borde de 4px con el color #C71585 */
    border-radius: 8px; /* Bordes redondeados */
    margin: 10px 0; /* Ajusta según sea necesario */
}


.audio-container {
    text-align: center;
    margin-top: 20px;
}

audio {
    width: 100%;
    max-width: 400px; /* Ajusta según sea necesario */
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Estilos para los controles de audio */
audio::-webkit-media-controls-panel {
    background-color: #C71585; /* Color de fondo de los controles de audio */
    color: #fff; /* Color del texto de los controles de audio */
    border-radius: 8px; /* Bordes redondeados */
}
/* Agrega esta sección al final de tu archivo CSS */

.confetti {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: #C71585;
    opacity: 0;
    animation: confetti-fall 1s ease-out infinite;
}

@keyframes confetti-fall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(600px) rotate(360deg);
        opacity: 0;
    }
}
